@keyframes moveFlamingo {
  0% {
    transform: translateX(-50%) translateY(0) rotate(0);
  }
  50% {
    transform: translateX(-50%) translateY(30px) rotate(-5deg);
  }
}

@keyframes leafGreen {
  from {
    transform: rotate(-18deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes leafBlue2 {
  from {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes widthInRight {
  from {
    opacity: 0;
    width: 0;
  }
  33%{
    opacity: 1;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

.text__word {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
}

.text__word > span {
  display: inline-flex;
  transform: translate3d(0, 200%, 0);
  white-space-collapse: break-spaces;
}

.text-animation-move .text__word > span {
  transform: translate3d(0, 0, 0);
  line-height: normal;
}

/* page game - result */
.body-loaded .screen--result.screen--show{
  .result__images{
    .leaf-green,
    .leaf-blue-1,
    .leaf-blue-2{
      opacity: 1;
    }
    .flamingo{
      transform: translateX(-50%) translateY(0) rotate(0deg);
      animation: moveFlamingo 2.5s ease .5s infinite;
      opacity: 1;
    }
    .suitcase{
      transform: translate3d(-50%, 0, 0) scale(1);
    }
    .leaf-green{
      animation: leafGreen 2.5s ease .5s forwards;
    }
    .leaf-blue-1{
      animation: leafGreen 2s ease .4s forwards;
    }
    .leaf-blue-2{
      animation: leafBlue2 2.5s ease .5s forwards;
    }
  }

  .form__field{
    animation: fadeIn 1s ease 1s forwards;
    width: 100%;
  }

  .form__field2::after{
    animation: widthInRight .5s ease .5s forwards;
  }

  .form__button span{
    animation: fadeIn 1.5s ease .5s forwards;
  }

  .form__button{
    animation: fadeIn .2s ease .5s forwards;
  }
}

/* page game - story */
.slider__pagination{
  opacity: 0;
  animation-duration: 0.5s;
  transition: opacity 1s;
}

.slider__control{
  transition: all .3s;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  animation-fill-mode: forwards;
}

.slider__control--prev{
  animation-name: roll-in-right;
}

.slider__control--next{
  animation-name: roll-in-left;
}

.active{
  .slider__pagination{
    opacity: 1;
  }
}

.result__button{
  opacity: 0;
  transition: all .3s;
}

.screen--result.screen--show {
  .result__button{
    animation: fadeIn .3s ease .1s forwards;
  }
  .result__button span{
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    animation-fill-mode: forwards;
    animation-name: roll-in-left;
  }
}

@keyframes roll-in-left {
  0% {
    opacity: 0;
    transform: translateX(5rem) rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}

@keyframes roll-in-right {
  0% {
    opacity: 0;
    transform: translateX(-5rem) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}

.screen__footer {
  @media (max-width: $tablet) and (orientation: portrait) {
    max-width: 100vw;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0 3.6rem 0 0;
    transform: translateY(3.5rem);
    transition: transform 0.2s cubic-bezier(0.29, 0.48, 0.31, 0.98), opacity 0.2s cubic-bezier(0.29, 0.48, 0.31, 0.98), width 0.2s ease 0.2s, height 0.2s ease 0.2s;
    .screen__footer-wrapper {
      opacity: 1;
      color: rgba(255, 255, 255, 0);
      transition: color 0.2s;
    }
    &.screen__footer--full {
      width: 100%;
      height: 18rem;
      transition: width 0.2s ease, height 0.2s ease;

      .screen__footer-wrapper {
        opacity: 1;
        color: #5f458c;
        transition: color 0.2s ease 0.2s;
      }
    }
  }
}
